body {
  background: #361510;
  color: #FFFCC7;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  cursor: pointer;
}

.centered-content {
  width: 100%;
  padding: 20px;
  background-color: #59322B;
  display: flex;
  border: 5px solid #FFFCC7;
}

.photobooth-center {
  flex: 0 0 1000px;
}

.booth {
  position: relative;
}

.booth svg {
  display: block;
  width: 100%;
  height: auto;
}

.enter {
  position: absolute;
  left: 55.3%;
  top: 48%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 1.6rem 2rem;
  border: 3px solid #D54751;
  background: #d54751ad;
  color: #fff;
  border-radius: 10px;
  transition: transform 0.3s ease;
  animation: pulse 1.5s infinite;
  font-weight: 900;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.enter:hover {
  background: #641319;
  color: #fff;
  border-color: #641319;
  cursor: pointer;
}

.blackwhite {
  filter: grayscale(90%);
}

.btn:hover {
  background-color: #346f65;
}


    /* Styles for screens smaller than 768px (e.g., mobile phones) */
    @media (max-width: 767px) {
      #root {
            max-width: 767px;
      }
      .centered-content {
        display: block;
        padding: 0px;
        border-width: 1px;
        width: 100%;
      }
        .booth svg {
              /* width: 30%; */
        }
        .enter {
          left: 48.3%;
          top: 59%;
          padding: .5em;
        }
        .card-settings {
          padding: 0.25em;
        }
    }

